# 環境変数ファイル
.env

# SQLiteのデータベース（本番ではMySQLを使うので無視）
db.sqlite3
db.json

# Pythonのキャッシュ
__pycache__/
*.pyc

# 仮想環境（ローカルのみなので無視）
venv/

# 静的ファイル（Djangoが自動生成する）
staticfiles/
static/

# メディアファイル（アップロードデータ）
media/