# 環境変数ファイル（重要情報を含むのでGit管理しない）
.env

# SQLiteのデータベースファイル（本番環境ではMySQLを使うため不要）
# db.sqlite3

# Pythonのキャッシュファイル（不要なため無視）
# __pycache__/
# *.pyc

# 仮想環境フォルダ（ローカル環境専用のためGit管理しない）
venv/

# 静的ファイル（Djangoが生成するためGit管理不要）
staticfiles/