# ==========================
# Django 本体
# ==========================
Django==5.1.2
dj-database-url==1.2.0
psycopg2-binary==2.9.7
whitenoise==6.5.0
django-csp==3.8

# ==========================
# Channels / WebSocket
# ==========================
channels==4.0.0
channels-redis==4.0.0
daphne==4.2.1

# ==========================
# 画像・ファイルアップロード
# ==========================
django-cloudinary-storage==0.3.0
cloudinary==1.44.1

# ==========================
# 開発補助
# ==========================
python-dotenv==1.0.0
Faker==33.1.0
