{% extends "base/diary_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'videochat/css/video_chat.css' %}">
{% endblock %}

{% block body %}
<div id="jitsi-container" style="width:100%; height:90vh;"></div>

<script src="https://meet.jit.si/external_api.js"></script>

<script>
    const domain = "meet.jit.si";

    const options = {
        roomName: "{{ jitsi_room_name }}",
        parentNode: document.getElementById("jitsi-container"),
        userInfo: {
            displayName: "{{ user_name }}"
        },
        configOverwrite: {
            prejoinPageEnabled: false,
        },
        interfaceConfigOverwrite: {
            DISABLE_JOIN_LEAVE_NOTIFICATIONS: true,
        }
    };

    const api = new JitsiMeetExternalAPI(domain, options);
</script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'videochat/js/video_chat.js' %}"></script>
{% endblock %}