<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Video Chat</title>
</head>

<body>

    <h2>ビデオチャット開始</h2>

    <iframe src="https://meet.jit.si/{{ room_slug }}" style="width: 100%; height: 90vh; border: 0;"
        allow="camera; microphone; fullscreen; display-capture">
    </iframe>

    {% if request.user == room.host %}
    <form method="post" action="{% url 'videochat:room_end' room.room_slug %}">
        {% csrf_token %}
        <button class="dashboard-button danger">
            ⏹ 配信を終了する
        </button>
    </form>
    {% endif %}

</body>

</html>