{% extends "base/diary_base.html" %}
{% load static %}

{% block title %}
配信を開始する｜SPIRYTUS
{% endblock %}

{% block body %}
<main class="top">
    <div class="dashboard">

        <h1 class="site-catch">配信を開始する</h1>

        <form method="post" class="dashboard-section">
            {% csrf_token %}

            <div class="form-group">
                <label>タイトル</label>
                <input type="text" name="title" required>
            </div>

            <div class="form-group">
                <label>パスワード（任意）</label>
                <input type="text" name="password">
            </div>

            <button type="submit" class="dashboard-button primary">
                配信開始
            </button>
        </form>

    </div>
</main>
{% endblock %}