{% extends "base/diary_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/terms.css' %}">
{% endblock %}

{% block title %}ガイドライン{% endblock %}

{% block body %}

<div class="content-container">
    <div class="card">

        <h1>ガイドライン</h1>

        <p>
            誹謗中傷・脅迫・違法行為は禁止です。
        </p>

        <p>
            他ユーザーが安心して利用できる環境作りに
            ご協力ください。
        </p>

        <!-- 🔙 通常閲覧 -->
        <div class="terms-actions">
        
            <button type="button" class="btn-back" onclick="
                        if(history.length > 1){
                            history.back();
                        }else{
                            window.location.href='/';
                        }
                    ">
        
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#607d8b"
                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        
                    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
        
                </svg>
        
                戻る
        
            </button>
        
        </div>

    </div>
</div>

{% endblock %}