{% extends "base/diary_base.html" %}
{% load static %}

{% block title %}
送信完了 | SPIRYTUS
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/kyc.css' %}">
{% endblock %}

{% block body %}

<div class="kyc-container">

    <div class="kyc-card center">

        <h2 class="kyc-title">✅ 送信完了</h2>

        <p class="kyc-text">
            本人確認を送信しました。
        </p>

        <p class="kyc-subtext">
            この端末での操作は完了しています。<br>
            元のPC画面に戻ってください。
        </p>
    </div>

    <div class="terms-actions">
    
        <button type="button" class="btn-back" onclick="
                        if(history.length > 1){
                            history.back();
                        }else{
                            window.location.href='/';
                        }
                    ">
    
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#607d8b"
                stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
    
                <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
    
            </svg>
    
            戻る
    
        </button>
    
    </div>

</div>

{% endblock %}