{% extends "base/diary_base.html" %}
{% load static %}

{% block body %}
<div class="mypage">

<!-- <section class="profile-card">
    <h2>{{ user_obj.username }}</h2>
</section> -->

    <!-- プロフィール -->
    <section class="profile-card">
        <h2>{{ user_obj.username }}</h2>
        {% if user.profile_image %}
        <img src="{{ user.profile_image.url }}" class="avatar">
        {% else %}
        <img src="{% static 'images/default_avatar.png' %}" class="avatar">
        {% endif %}
        <div class="profile-actions">
            <a href="{% url 'accounts:profile_edit' %}">編集</a>
        
            <!-- {% if user.profile.profile_image %}
            <form method="post" action="{% url 'accounts:profile_image_delete' %}">
                {% csrf_token %}
                <button type="submit">画像を削除</button>
            </form>
            {% endif %} -->
        </div>
        <!-- <h2>{{ user_obj.username }}</h2> -->
    </section>

    <!-- 日記 -->
    <section class="content-card">
        <h3 class="section-title">📔 日記一覧</h3>

        {% for diary in diaries %}
        <div class="list-item">
            <a href="{% url 'diary:page_detail' diary.pk %}" class="item-title">
                {{ diary.title }}
            </a>
            <div class="item-meta">
                投稿日：{{ diary.page_date|date:"Y年m月d日" }}
            </div>
        </div>
        {% empty %}
        <p class="empty-text">日記はまだありません</p>
        {% endfor %}
    </section>

    <!-- ブログ -->
    <section class="content-card">
        <h3 class="section-title">📝 ブログ投稿</h3>

        {% for post in blog_posts %}
        <div class="list-item">
            <a href="{% url 'blog:post_detail' post.slug %}" class="item-title">
                {{ post.title }}
            </a>
            <div class="item-meta">
                投稿日：{{ post.posted_date|date:"Y年m月d日" }}
            </div>
        </div>
        {% empty %}
        <p class="empty-text">ブログ投稿はまだありません</p>
        {% endfor %}
    </section>

    <!-- メッセージ -->
    <section class="content-card">
        <h3 class="section-title">💌 受信メッセージ</h3>

        {% for msg in messages %}
        <div class="message-card">
            <strong>{{ msg.from_user }}</strong>
            <p>{{ msg.body|truncatechars:50 }}</p>
        </div>
        {% empty %}
        <p class="empty-text">メッセージはありません</p>
        {% endfor %}
    </section>

</div>

<div class="logout-wrapper">
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-pill">ログアウト</button>
    </form>
</div>

{% endblock %}