/* =========================
   Diary Page
========================= */

.diary-page{
    max-width:700px;
    margin:auto;
}

/* =========================
   Intro Card
========================= */

.intro-card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

.page-title{
    font-size:22px;
    font-weight:bold;
}

.page-description{
    font-size:14px;
    color:#666;
}

/* =========================
   Form Card
========================= */

.post-form-card{
    background:white;
    padding:20px;
    border-radius:12px;
}

/* =========================
   Submit Button
========================= */

.form-submit{
    margin-top:20px;
    text-align:center;
}

.submit-btn{
    background:black;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.submit-btn:hover{
    opacity:0.85;
}

/* =========================
   チェックボックス
========================= */

.checkbox-center{
    display:flex;
    justify-content:center;
    margin-top:24px;
}

.checkbox-label{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:14px;
}

.checkbox-label input{
    width:auto;
}


/* =========================
   Edit Image Preview
========================= */

.current-image{
    width:100%;
    text-align:center;
    margin-bottom:20px;
}

/* 画像サイズ完全制御 */

.edit-image-preview{
    display:block;
    max-width:100%;
    height:auto;
    margin:0 auto;
    border-radius:10px;
}

/* 画像ラッパー */

.media-wrapper{
    width:100%;
    overflow:hidden;
}

/* Django自動クリアチェックボックスを非表示 */

input[type="checkbox"][name$="-clear"]{
display:none;
}

label[for$="-clear_id"]{
display:none;
}