{% extends "base/diary_base.html" %}

{% block title %}
日記の更新｜SPIRYTUS
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'diary/css/diary_form.css' %}">
{% endblock %}

{% block body %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">更新</button>
</form>

<div class="back-area">
    <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="back-button">← 戻る</a>
</div>

{% block extra_js %}
<script src="{% static 'diary/js/diary.js' %}"></script>
{% endblock %}

{% endblock %}