{% extends "base/diary_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}


{% block body %}

<div class="login-wrapper">

    <div class="login-header">
        <h1 class="login-title">SPIRYTUS</h1>
        <p class="login-subtitle">
            パスワード変更完了
        </p>
    </div>

    <div class="login-card">

        <p>
            パスワードの変更が完了しました。
        </p>

        <div class="login-footer">
            <a href="{% url 'accounts:login' %}">
                ログイン画面へ
            </a>
        </div>

    </div>

</div>

{% endblock %}