{% extends "base/diary_base.html" %}
{% load comment_tags %}
{% block body %}

<div class="media-content reply-indented">

    <div class="content">
        <p>
            <strong>{{ comment.name }}</strong>

            {% if comment.reply_to %}
            >>> <strong>{{ comment.reply_to }}</strong>
            {% endif %}

            <small>{{ comment.posted_date }}</small><br>
            {{ comment.body }}
        </p>
    </div>

    <!-- 返信ボタン -->
    <button onclick="showReplyForm({{ comment.id }})">返信</button>

    <!-- 返信フォーム -->
    <div id="reply-form-{{ comment.id }}" style="display:none;">
        <form method="post" action="{% url 'blog:post_detail' slug=comment.post.slug %}">
            {% csrf_token %}
            {{ reply_forms[comment.id].as_p }}
            <input type="hidden" name="parent_comment" value="{{ comment.id }}">
            <input type="hidden" name="reply_to" value="{{ comment.name }}">
            <button class="button is-small is-success">返信を送信</button>
        </form>
    </div>

    {% if comment.replies.all %}
    <div class="reply-indented">
        {% include "blog/render_comments.html" with comments=comment.replies.all reply_forms=reply_forms
        post=comment.post %}
    </div>
    {% endif %}

</div>

{% endblock %}