{% extends "base/diary_base.html" %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">


<h2>口を開く</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">口をとじる</button>
</form>

{% for post in posts %}

<a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a>

<div class="post block">
    <!-- 投稿者名 -->
    <p><strong>投稿者: </strong>{{ post.name }}</p>

    <h2 class="subtitle">{{ post.title }}</h2>
    <small>Posted at {{ post.posted_date }}</small>

<p>{{ post.body|truncatechars:120 }}</p>

    <!-- 🔽 画像サムネ -->
    {% if post.image and post.image.name %}
    <img src="{{ post.image.url }}" class="comment-media-thumb">
    {% endif %}

    <!-- 🔽 動画サムネ -->
    {% if post.youtube_url %}
    <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/{{ post.youtube_url|youtube_id }}" frameborder="0" allowfullscreen
            loading="lazy">
        </iframe>
    </div>
    {% endif %}

    <br>
    <a href="{% url 'blog:post_detail' slug=post.slug %}">もっと読む</a>
</div>

{% endfor %}

<!-- 🔽 メディア表示用モーダル（必須） -->
<div id="media-modal" class="media-modal" onclick="closeMedia()">
    <div id="media-content"></div>
</div>

<script src="{% static 'blog/js/blog.js' %}"></script>

{% endblock %}