{% extends "base/diary_base.html" %}
{% load youtube_extras %}
{% load comment_tags %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

<small>Posted at {{ post.posted_date }}</small>
<br>
<small>投稿者： {{ post.name }}</small>

<h1 class="title">{{ post.title }}</h1>

<p>{{ post.body }}</p>

<div class="media-wrapper">

    {% if post.image and post.image.name %}
    <img src="{{ post.image.url }}" class="comment-media-thumb">
    {% endif %}

    {% if post.video_url %}
    {% include "blog/video_embed.html" with video_url=post.video_url %}
    {% endif %}

</div>


<hr>

<h2 class="subtitle">コメントを書く</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button is-success">コメントを投稿</button>
</form>


<hr>

<h2 class="subtitle">コメント一覧</h2>

{% include "blog/child_comments.html" with comments=parent_comments form=form %}

<hr>

<div id="media-modal" class="media-modal" onclick="closeMedia()">
    <div id="media-content"></div>
</div>


<script src="{% static 'blog/js/blog.js' %}"></script>

{% endblock %}