/* ページ全体を黒 */
body {
    margin: 0;
    padding: 0;
    background: #000;
}

/* header以外を覆う */
.swipe-wrapper {
    position: fixed;
    top: 67px;
    left: 0;
    width: 100vw;
    height: calc(100dvh - 67px);
    background: #000;
}

/* カードコンテナ */
.swipe-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* カード */
.card {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
}

/* 画像 */
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* グラデーション */
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.6) 0%,
        rgba(0,0,0,0.2) 40%,
        transparent 70%
    );
}

/* 情報カード */
.profile-card {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 20px 25px;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 5;
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.profile-card h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.profile-card p {
    margin: 5px 0 0 0;
    font-size: 20px;
    opacity: 0.85;
}

/* PCボタン */
.pc-buttons {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    display: none;
}

@media (min-width: 768px) {
    .pc-buttons {
        display: block;
    }
}

.pc-buttons button {
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    margin: 0 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: transform 0.2s ease;
}

.pc-buttons button:hover {
    transform: scale(1.1);
}

.site-footer {
    display: none;
}


/* 矢印 */
.nav-arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    cursor: pointer;
    z-index: 999;

    background: rgba(255,255,255,0.15);
    color: white;
    backdrop-filter: blur(10px);
}

.nav-arrow.left {
    left: 30px;
}

.nav-arrow.right {
    right: 30px;
}

/* モバイルでは非表示 */
@media (max-width: 768px) {
    .nav-arrow {
        display: none;
    }
}





/* .swipe-container {
    position: relative;
}

.card {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    pointer-events: auto;
}

.nav-arrow.left {
    left: -60px;
}

.nav-arrow.right {
    right: -60px;
}



.swipe-container {
    pointer-events: none;
}

.card,
.nav-arrow {
    pointer-events: auto;
} */
 